.fantasy-drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 0%, 0.05);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.fantasy-drawer-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.fantasy-drawer {
  width: 340px;
  height: 100%;
  background-color: #f0e6d2;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  border-radius: 0 20px 20px 0;
}

.fantasy-drawer-close {
  align-self: flex-end;
  background: none;
  border: none;
  color: #8b4513;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 20px;

}

.fantasy-drawer-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-title {
  font-size: 1.5rem;
  color: #8b4513;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.nav-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #8b4513;
  color: #f0e6d2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Macondo', 'MedievalSharp', cursive;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.nav-button:hover {
  background-color: #a0522d;
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f0e6d2, 0 0 0 4px #8b4513;
}